body {
  margin: 75px;
  background-color: #232020;
  color: #9C914F;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  color: #955E42;
  padding: 0px;
  margin-top: 0px;
}

.headshot {
  float: left;
  margin: 20px 40px 20px 0px;
  border: 10px solid #553739;
  border-radius: 10px;
}

img {
  width: 300px;
  height: auto;
}

.headline {
  column-count: 2;
  
}

.headline p {
  font-size: 25px;
  color: #748E54;
}

.projects {
width: 90%;
text-align: center;
}

.projects-con h5 {
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0px;
}

.project-card {
  border: 5px solid #553739;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: 30%;
  background-color: #88725e;
}

.project-card h5 {
  text-align: center;
}
.sidebar {
  float: right;
  width: 50px;
}

a:link {
  text-decoration: none;
  color:#955E42;
}

.projects a {
  transition: transform .2s;
}
.projects a:link p {
  text-decoration: none;
  color: #9C914F;
}

.projects a:visited {
  text-decoration: none;
  color:#955E42;
}

.projects a:visited p {
  text-decoration: none;
  color: #9C914F;
}

.projects a:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.projects a:active {
  text-decoration: none;
}

.highlight {
  color: palevioletred;
}