body {
  margin: 75px;
  background-color: #232020;
  color: #9C914F;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #553739;
  padding: 0px;
  margin-top: 0px;
}

.headshot {
  float: left;
  margin: 20px 40px 20px 0px;
  border: 10px solid #955E42;
  border-radius: 10px;
}

img {
  width: 300px;
  height: auto;
}

.headline {
  column-count: 2;
  
}

.headline p {
  font-size: 25px;
  color: #748E54;
}

.projects {
  background-color: #955e42;
  margin: 50px;
  border-radius: 10px;

}